:root {
  --blue: #273FAD;
  --green: #3FAD27;
  --red: 	#ad273f;
  --background: #666;
  --shapes: #222;
  --text-title: #EBEBEB;
  --text: #fff;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  background: var(--shapes);
  height: 100vh;
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}